@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .steps-component {
    @apply shadow-inner;

    .steps-content {
      @apply flex justify-center items-center bg-gray-300 rounded-t py-4 overflow-hidden;

      .step-line {
        @apply absolute inset-0 flex items-center;

        .line {
          @apply h-1 w-full bg-gray-400;

          &.complete {
            @apply bg-secondary;
          }
        }
      }

      .step-complete {
        @apply relative w-8 h-8 flex items-center justify-center bg-secondary rounded-full;
      }

      .step-current {
        @apply relative w-12 h-12 flex items-center justify-center bg-primary rounded-full;
      }

      .step-upcoming {
        @apply group relative bg-gray-400 w-8 h-8 flex items-center justify-center border-2 border-gray-400 rounded-full hover:border-gray-400;
      }

      .chevron-up {
        @apply absolute top-5 -left-6;
      }
    }
  }
}
