@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-component {
    @apply mt-6 w-72;

    &.large {
      @apply min-w-full;
    }

    .input {
      @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md min-w-min;
    }

    .input-error {
      @apply block w-full border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md
    }

    .label {
      @apply block text-sm font-medium text-gray-700 font-bold;
    }

    .exclamation-icon {
      @apply text-sm text-gray-500;
    }

    .error-description {
      @apply mt-2 text-sm text-red-600 text-left;
    }

    .word-counter {
      @apply flex justify-end text-gray-400;
    }

    .icon {
      @apply absolute inset-y-0 right-0 pr-3 flex items-center;

      .eye {
        @apply h-5 w-5 text-gray-400;

        &.error {
          @apply text-red-300;
        }
      }
    }
  }
}
