@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-component {
    @apply fixed z-10 inset-0 overflow-y-auto;

    .dialog-content {
      @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-16 text-center sm:block sm:p-0;

      .dialog-overlay {
        @apply fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity;
      }

      .dialog-center {
        @apply hidden sm:inline-block sm:align-middle sm:h-screen;
      }

      .dialog-body {
        @apply inline-block align-bottom bg-white rounded text-center overflow-hidden shadow-xl transform transition-all sm:mb-8 sm:align-middle md:max-w-6xl sm:w-full sm:max-w-lg;

        .children-wrapper {
          @apply mb-2 flex flex-col;
        }

        .dialog-separator {
          @apply border-t-2 border-gray-100;
        }

        .dialog-footer {
          @apply px-4 py-3 my-8 sm:px-6 sm:flex sm:flex-row sm:justify-between sm:my-4 sm:mx-10;
        }
      }
    }

  }
}
