@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-title-component {
    @apply flex flex-col justify-center items-start;

    .title-text {
      @apply text-primary font-bold text-4xl;
    }

    .line {
      @apply h-1 w-14 bg-blue-400 mt-3;
    }

    &.center {
      @apply text-center;
    }

    &.left {
      @apply text-left;
    }

    &.right {
      @apply text-right;
    }
  }
}
