@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-component {
    @apply flex flex-col justify-center items-center mt-12;

    .card-image {
      @apply h-60 w-60;
    }

    .card-description {
      @apply max-w-sm mt-2;
    }
  }
}
