@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .checkbox-component {
    @apply flex items-center mt-2;

    .checkbox {
      @apply h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded;
    }

    .label {
      @apply ml-2 block text-sm text-gray-900;
    }
  }
}
