@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .paragraph-component {
    @apply flex flex-col items-start mt-12;

    .title {
      @apply text-primary font-bold text-xl;
    }

    .description {
      @apply text-primary text-sm text-left;
    }
  }
}
