@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-component {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium focus:outline-none text-center justify-center;

    &.primary {
      @apply text-white bg-primary;
      &:disabled {
        @apply bg-primary bg-opacity-50 border-opacity-50 text-opacity-50;
        cursor: default;
      }

      .chevron {
        @apply w-5 h-5 text-white;
      }
    }

    &.secondary {
      @apply text-primary;
      &:disabled {
        @apply bg-opacity-50 text-opacity-50;
        cursor: default;
      }

      .chevron {
        @apply w-5 h-5 text-white;
      }
    }

    &.link {
      @apply text-secondary;
      &:disabled {
        @apply bg-opacity-50 text-opacity-50;
        cursor: default;
      }

      .chevron {
        @apply w-5 h-5 text-secondary;
      }
    }
  }
}
