@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .feedback-description-component {
    @apply flex justify-start px-16 py-10;

    .icon {
      @apply h-14 w-14 mr-8;
    }

    .feedback-description-cols {
      @apply flex flex-col justify-center items-start;

      .title {
        @apply text-primary font-bold text-2xl;
      }

      .description {
        @apply text-primary mt-4;
      }
    }
  }
}
